* {
    box-sizing: border-box;
    --clr1: #0b1d2e;
    --clr2: #1f3349;
    --clr3: #334e68;
    --clr4: #486581;
    --clr5: #627d98;
    --clr6: #829ab1;
    --clr7: #9fb3c8;
    --clr-brand: rgb(186, 86, 253);
    --clr-green: #6fc26f;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--clr4);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr5);
}

body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
}

body.info-open .info-modal {
    transform: translate(-50%, -50%) scale(1);
}

body.info-open .info-btn {
    color: rgb(102, 175, 199);
}

body.user-msg-open .user-msg {
    transform: translate(-50%, 10px);
}

header {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100vw;
    background: var(--clr1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    z-index: 5;
    box-shadow: 0 0 10px 1px #000a;
}

header button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: var(--clr3);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

header button:hover {
    background: var(--clr4);
}

header h1 {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 20px;
}

header h1 span:last-child {
    color: var(--clr-brand);
}

header h1::before {
    content: "{";
    position: absolute;
    left: -20px;
    font-size: 1.9em;
    font-weight: 100;
    transform: translateY(-7%);
    color: #fff;
}

.btn-container {
    display: flex;
    gap: 10px;
}

main {
    position: absolute;
    height: calc(100vh);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.result {
    width: 100vw;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.code {
    display: flex;
    flex-direction: column;
    background: var(--clr1);
    flex-grow: 1;
    width: 100vw;
    height: 100%;
    padding: 5px;
    color: #fffd;
    resize: vertical;
    overflow: auto;
}

pre {
    position: relative;
    overflow: auto;
    background: var(--clr2);
    padding: 40px 10px 10px;
    font-size: 17px;
    line-height: 1.5em;
    outline: none;
    margin: 0;
    height: 100px;
    border-radius: 10px;
}

pre.html {
    z-index: 1;
    margin-bottom: 5px;
}

pre.open {
    flex-grow: 1;
}

pre::before {
    position: absolute;
    width: calc(100% - 10px);
    height: 25px;
    color: #fff;
    background: var(--clr3);
    top: 0px;
    left: 0px;
    padding-left: 10px;
}

pre::after {
    content: "< >";
    position: absolute;
    right: 10px;
    top: 0px;
}

pre.open::after {
    content: "> <";
}

pre.css::before {
    content: "css";
}

pre.html::before {
    content: "html";
}

.saveBtn:hover {
    background: var(--clr-green);
    transform: scale(1.1);
}

.user-msg {
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: var(--clr2);
    border: 3px solid var(--clr-green);
    top: 0;
    left: 50%;
    transform: translate(-50%, -200px);
    position: absolute;
    z-index: 5;
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--clr-green);
}

.info-modal {
    position: absolute;
    width: 250px;
    height: 200px;
    background: var(--clr3);
    border: 3px solid var(--clr1);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    padding: 20px;
    color: #fffc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 1px #0005;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}

.info-modal > h4 {
    margin: 0 0 10px;
    align-self: center;
    font-weight: 200;
}

.info-modal > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr4);
    padding: 10px 0;
}

.info-modal > div:last-child {
    border-bottom:none;
}

.info-modal p {
    margin: 0;
}

@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
    }
    header {
        padding: 10px 20px;
    }
    header h1 {
        font-size: 18px;
    }
    header button {
        width: 50px;
        height: 50px;
    }
    .btn-container {
        gap: 20px;
    }
    .result {
        width: 50vw;
    }
    .code {
        width: 50vw;
        resize: horizontal;
    }
}
